services:

  server:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - '5000:5000'
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/frontend/node_modules
    environment:
      - DATABASE_URL=mongodb://mongo:27017/tictactoe
    env_file:
      - .env.local

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
